body
{
    margin: 0;
}
.upper
{
    position: relative;
    width: 100%;
}
.slider
{
    width: 100%;
}
@keyframes showhide
{
    0% {
        opacity: 0;
    }
    5%
    {
        opacity: 1;
    }
    95%
    {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.slider_element
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 500px;
    width:100%;
    position: relative;

    animation-name: showhide;
    animation-duration: 4s;
}
h1
{
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    color: white;
    font-family: Verdana;
    font-size: 4rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.se1
{
    background-image: url("./images/8.jpg");
    
}
.se2
{
    background-image: url("./images/5.jpg");
    display: none;
}
.se3
{
    background-image: url("./images/3.jpg");
    display: none;
}
.main_menu:hover
{
    background-color: rgb(255, 255, 255);
    background-image: none;
}
.main_menu
{
    position: sticky;
    top: 0;
    padding: 20px 0;
    width: calc(100%-2px);
    background-image: linear-gradient(rgb(245, 245, 245), rgb(255, 255, 255, 1));
    z-index: 1;
    text-align: center;
    border: 1px solid rgb(218, 218, 218);
}
h2:hover
{
    cursor: pointer;
    color: rgb(121, 121, 121);
}
h2
{
    display: inline;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: normal;
    color: rgb(150, 150, 150);
}
.mm_item
{
    text-decoration: none;
}
.mm_divider
{
    display: inline-block;
    position: relative;
    top: 0.25rem;
    border-left: 1px solid rgb(180, 180, 180);
    height: 2rem;
}
@keyframes appear
{
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
}
.mm_dropdown
{
    display: none;
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    text-align: left;
    z-index: 2;
    border-radius: 5%;
    overflow: hidden;

    animation-name: appear;
    animation-duration: 1s;
}
.mm_subitem:hover
{
    color: rgb(121, 121, 121);
}
.mm_subitem
{
    margin: 10px 20px;
    font-size: 1rem;
    font-family: Verdana;
    display: block;
    text-decoration: none;
    color: rgb(151, 151, 151);
}
.mm_subitem_hr
{
    width: 100%;
    display: block;
    text-decoration: none;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: none;
}


@media only screen and (max-width: 400px) 
{
    html 
    {
        font-size: 4vw;
    }
}